## Pandas Series

In [192]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### pandas series is a 1D object

In [193]:
colors = ['red', 'yellow', 'green', 'blue', 'orange', 'red', 'violet', 'indigo']

In [194]:
colors_array = np.array(colors)
colors_array

array(['red', 'yellow', 'green', 'blue', 'orange', 'red', 'violet',
       'indigo'], dtype='<U6')

In [195]:
pd.Series?

In [196]:
colors_series = pd.Series(colors)
colors_series

0       red
1    yellow
2     green
3      blue
4    orange
5       red
6    violet
7    indigo
dtype: object

In [197]:
# Create a numpy array 'arr'.

arr = np.array([5, 10, 15, 20, 25, 30, 35, 40, 40])
arr

array([ 5, 10, 15, 20, 25, 30, 35, 40, 40])

In [198]:
arr + 1

array([ 6, 11, 16, 21, 26, 31, 36, 41, 41])

In [199]:
# Convert my numpy array to a pandas Series called 'numeric_series'.
arr_panda = pd.Series(arr)
arr_panda

0     5
1    10
2    15
3    20
4    25
5    30
6    35
7    40
8    40
dtype: int64

In [200]:
# How can I confirm that 'numeric_series' is now a pandas Series object?
print(type(arr_panda))

<class 'pandas.core.series.Series'>

In [201]:
# Create a python dictionary.

data = {'a' : 0, 'b' : 1.5, 'c' : 2, 'd': 3.5, 'e': 4, 'f': 5.5}
data

{'a': 0, 'b': 1.5, 'c': 2, 'd': 3.5, 'e': 4, 'f': 5.5}

In [202]:
diction_series = pd.Series(data)
diction_series

a    0.0
b    1.5
c    2.0
d    3.5
e    4.0
f    5.5
dtype: float64

In [203]:
print(type(diction_series))

<class 'pandas.core.series.Series'>

In [204]:
colors_series.index

RangeIndex(start=0, stop=8, step=1)

In [205]:
from pydataset import data

In [206]:
df = data('iris')

In [207]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            141, 142, 143, 144, 145, 146, 147, 148, 149, 150],
           dtype='int64', length=150)

In [208]:
df.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [209]:
df['Petal.Width']

1      0.2
2      0.2
3      0.2
4      0.2
5      0.2
6      0.4
7      0.3
8      0.2
9      0.2
10     0.1
11     0.2
12     0.2
13     0.1
14     0.1
15     0.2
16     0.4
17     0.4
18     0.3
19     0.3
20     0.3
21     0.2
22     0.4
23     0.2
24     0.5
25     0.2
26     0.2
27     0.4
28     0.2
29     0.2
30     0.2
31     0.2
32     0.4
33     0.1
34     0.2
35     0.2
36     0.2
37     0.2
38     0.1
39     0.2
40     0.2
41     0.3
42     0.3
43     0.2
44     0.6
45     0.4
46     0.3
47     0.2
48     0.2
49     0.2
50     0.2
51     1.4
52     1.5
53     1.5
54     1.3
55     1.5
56     1.3
57     1.6
58     1.0
59     1.3
60     1.4
61     1.0
62     1.5
63     1.0
64     1.4
65     1.3
66     1.4
67     1.5
68     1.0
69     1.5
70     1.1
71     1.8
72     1.3
73     1.5
74     1.2
75     1.3
76     1.4
77     1.4
78     1.7
79     1.5
80     1.0
81     1.1
82     1.0
83     1.2
84     1.6
85     1.5
86     1.6
87     1.5
88     1.3
89     1.3
90     1.3
91     1.2
92     1.4
93     1.2
94     1.0
95     1.3
96     1.2
97     1.3
98     1.3
99     1.1
100    1.3
101    2.5
102    1.9
103    2.1
104    1.8
105    2.2
106    2.1
107    1.7
108    1.8
109    1.8
110    2.5
111    2.0
112    1.9
113    2.1
114    2.0
115    2.4
116    2.3
117    1.8
118    2.2
119    2.3
120    1.5
121    2.3
122    2.0
123    2.0
124    1.8
125    2.1
126    1.8
127    1.8
128    1.8
129    2.1
130    1.6
131    1.9
132    2.0
133    2.2
134    1.5
135    1.4
136    2.3
137    2.4
138    1.8
139    1.8
140    2.1
141    2.4
142    2.3
143    1.9
144    2.3
145    2.5
146    2.3
147    1.9
148    2.0
149    2.3
150    1.8
Name: Petal.Width, dtype: float64

In [210]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [211]:
petal_width_series = df['Petal.Width']
petal_width_series

1      0.2
2      0.2
3      0.2
4      0.2
5      0.2
6      0.4
7      0.3
8      0.2
9      0.2
10     0.1
11     0.2
12     0.2
13     0.1
14     0.1
15     0.2
16     0.4
17     0.4
18     0.3
19     0.3
20     0.3
21     0.2
22     0.4
23     0.2
24     0.5
25     0.2
26     0.2
27     0.4
28     0.2
29     0.2
30     0.2
31     0.2
32     0.4
33     0.1
34     0.2
35     0.2
36     0.2
37     0.2
38     0.1
39     0.2
40     0.2
41     0.3
42     0.3
43     0.2
44     0.6
45     0.4
46     0.3
47     0.2
48     0.2
49     0.2
50     0.2
51     1.4
52     1.5
53     1.5
54     1.3
55     1.5
56     1.3
57     1.6
58     1.0
59     1.3
60     1.4
61     1.0
62     1.5
63     1.0
64     1.4
65     1.3
66     1.4
67     1.5
68     1.0
69     1.5
70     1.1
71     1.8
72     1.3
73     1.5
74     1.2
75     1.3
76     1.4
77     1.4
78     1.7
79     1.5
80     1.0
81     1.1
82     1.0
83     1.2
84     1.6
85     1.5
86     1.6
87     1.5
88     1.3
89     1.3
90     1.3
91     1.2
92     1.4
93     1.2
94     1.0
95     1.3
96     1.2
97     1.3
98     1.3
99     1.1
100    1.3
101    2.5
102    1.9
103    2.1
104    1.8
105    2.2
106    2.1
107    1.7
108    1.8
109    1.8
110    2.5
111    2.0
112    1.9
113    2.1
114    2.0
115    2.4
116    2.3
117    1.8
118    2.2
119    2.3
120    1.5
121    2.3
122    2.0
123    2.0
124    1.8
125    2.1
126    1.8
127    1.8
128    1.8
129    2.1
130    1.6
131    1.9
132    2.0
133    2.2
134    1.5
135    1.4
136    2.3
137    2.4
138    1.8
139    1.8
140    2.1
141    2.4
142    2.3
143    1.9
144    2.3
145    2.5
146    2.3
147    1.9
148    2.0
149    2.3
150    1.8
Name: Petal.Width, dtype: float64

In [212]:
type(petal_width_series)

pandas.core.series.Series

In [213]:
df['Petal.Width']

1      0.2
2      0.2
3      0.2
4      0.2
5      0.2
6      0.4
7      0.3
8      0.2
9      0.2
10     0.1
11     0.2
12     0.2
13     0.1
14     0.1
15     0.2
16     0.4
17     0.4
18     0.3
19     0.3
20     0.3
21     0.2
22     0.4
23     0.2
24     0.5
25     0.2
26     0.2
27     0.4
28     0.2
29     0.2
30     0.2
31     0.2
32     0.4
33     0.1
34     0.2
35     0.2
36     0.2
37     0.2
38     0.1
39     0.2
40     0.2
41     0.3
42     0.3
43     0.2
44     0.6
45     0.4
46     0.3
47     0.2
48     0.2
49     0.2
50     0.2
51     1.4
52     1.5
53     1.5
54     1.3
55     1.5
56     1.3
57     1.6
58     1.0
59     1.3
60     1.4
61     1.0
62     1.5
63     1.0
64     1.4
65     1.3
66     1.4
67     1.5
68     1.0
69     1.5
70     1.1
71     1.8
72     1.3
73     1.5
74     1.2
75     1.3
76     1.4
77     1.4
78     1.7
79     1.5
80     1.0
81     1.1
82     1.0
83     1.2
84     1.6
85     1.5
86     1.6
87     1.5
88     1.3
89     1.3
90     1.3
91     1.2
92     1.4
93     1.2
94     1.0
95     1.3
96     1.2
97     1.3
98     1.3
99     1.1
100    1.3
101    2.5
102    1.9
103    2.1
104    1.8
105    2.2
106    2.1
107    1.7
108    1.8
109    1.8
110    2.5
111    2.0
112    1.9
113    2.1
114    2.0
115    2.4
116    2.3
117    1.8
118    2.2
119    2.3
120    1.5
121    2.3
122    2.0
123    2.0
124    1.8
125    2.1
126    1.8
127    1.8
128    1.8
129    2.1
130    1.6
131    1.9
132    2.0
133    2.2
134    1.5
135    1.4
136    2.3
137    2.4
138    1.8
139    1.8
140    2.1
141    2.4
142    2.3
143    1.9
144    2.3
145    2.5
146    2.3
147    1.9
148    2.0
149    2.3
150    1.8
Name: Petal.Width, dtype: float64

In [214]:
colors_series

0       red
1    yellow
2     green
3      blue
4    orange
5       red
6    violet
7    indigo
dtype: object

In [215]:
colors_series.index

RangeIndex(start=0, stop=8, step=1)

In [216]:
list(colors_series.index)

[0, 1, 2, 3, 4, 5, 6, 7]

In [217]:
colors_series.values

array(['red', 'yellow', 'green', 'blue', 'orange', 'red', 'violet',
       'indigo'], dtype=object)

In [218]:
type(colors_series.values)

numpy.ndarray

In [219]:
print(type(colors_series.values))

<class 'numpy.ndarray'>

In [220]:
colors_series.dtype

dtype('O')

In [221]:
colors_series.size

8

In [222]:
colors_series.shape

(8,)

In [223]:
df.shape

(150, 5)

In [224]:
petal_width_series.shape

(150,)

In [225]:
df.size

750

In [226]:
df.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [227]:
df.tail(4)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

In [228]:
colors_series.head(3)

0       red
1    yellow
2     green
dtype: object

In [229]:
colors_series.sample(2)

4    orange
5       red
dtype: object

In [230]:
colors_series[2:4]

2    green
3     blue
dtype: object

In [231]:
colors_series.head().tail(2).values

array(['blue', 'orange'], dtype=object)

In [232]:
colors_series.value_counts()  # group by and count

red       2
yellow    1
green     1
blue      1
orange    1
violet    1
indigo    1
dtype: int64

In [233]:
val_counts = colors_series.value_counts()
val_counts.index

Index(['red', 'yellow', 'green', 'blue', 'orange', 'violet', 'indigo'], dtype='object')

In [234]:
colors_series.describe()

count       8
unique      7
top       red
freq        2
dtype: object

In [235]:
petal_width_stats = petal_width_series.describe()
petal_width_stats

count    150.000000
mean       1.199333
std        0.762238
min        0.100000
25%        0.300000
50%        1.300000
75%        1.800000
max        2.500000
Name: Petal.Width, dtype: float64

In [236]:
petal_width_stats['mean']

1.199333333333334

In [237]:
petal_width_series.describe()['count']

150.0

In [238]:
arr = np.array([5, 10, 15, 20, 25, 30, 35, 40, 40])

In [239]:
numeric_series = pd.Series(arr)

In [240]:
numeric_series.astype(str)

0     5
1    10
2    15
3    20
4    25
5    30
6    35
7    40
8    40
dtype: object

In [241]:
color_series.astype(float)

NameError: name 'color_series' is not defined

In [ ]:
numeric_series.astype(float)

In [ ]:
numeric_series.dtype

In [ ]:
colors_series.value_counts(normalize=True)

In [ ]:
colors_series.sort_values()

In [ ]:
numeric_series.sort_values()

In [ ]:
numeric_series.sort_values(ascending=False)

In [ ]:
diction_series

In [ ]:
diction_series.sort_index()

In [ ]:
diction_series.sort_index(ascending=False)

In [ ]:
colors_series.describe()

In [ ]:
type(colors_series.describe())

In [ ]:
numeric_series.describe()

In [ ]:
colors_series == 'red'

In [ ]:
(colors_series == 'red').any()

In [ ]:
numeric_series < 0

In [ ]:
(numeric_series < 0).any()

In [ ]:
(colors_series == 'red')

In [ ]:
(colors_series == 'red').all()

In [ ]:
(numeric_series > 0)

In [ ]:
(numeric_series > 0).all()

In [ ]:
'red'.capitalize()

In [ ]:
# string methods require .str to work
colors_series.str.capitalize()

In [ ]:
colors_series.str.find('r')

In [ ]:
colors_series.str.startswith('r')

In [ ]:
colors_series.str.replace('e', '')

In [ ]:
colors_series

In [ ]:
colors_series.str.replace('e', '').str.\
    replace('o', '0').str.capitalize().value_counts().head(4)

In [ ]:
ends_with_d = colors_series.str.endswith('d')
ends_with_d

In [ ]:
colors_series[ends_with_d]

In [ ]:
colors_series[colors_series.str.endswith('d')]

In [ ]:
colors_series[colors_series.str.endswith('d')].str.upper()

In [ ]:
my_red_count_example_word = 'rrred'

In [ ]:
my_red_count_example_word.count('r')

In [ ]:
lambda x: x.count('r')

In [ ]:
colors_series.apply(lambda x: x.count('r'))

In [ ]:
def red_or_not(string):
    if string.lower() == 'red':
        return 'red'
    else:
        return 'not_red'

In [ ]:
colors_series.apply(red_or_not)

In [ ]:
colors_series.apply((red_or_not)).value_counts()

In [ ]:
'valentines' in 'big red vaentines heart'

In [ ]:
# series.isin(values)
my_colors = ['black', 'white', 'red']

In [ ]:
colors_series.isin(my_colors)

In [ ]:
bools = colors_series.isin(my_colors)
print(type(bools))
print(bools.dtype)

In [ ]:
colors_series[bools]

In [ ]:
#colors where colors in ...
colors_series[colors_series.isin(['red', 'black', 'orange'])]

In [ ]:
diction_series.head(3)

In [ ]:
diction_series['a':]

In [ ]:
diction_series['a':'d']

In [ ]:
diction_series[['a','d','f']]

In [ ]:
diction_series.apply(['a'],['d'],['f'])

In [244]:
from pydataset import data

tips = data('tips')
tips

     total_bill   tip     sex smoker   day    time  size
1         16.99  1.01  Female     No   Sun  Dinner     2
2         10.34  1.66    Male     No   Sun  Dinner     3
3         21.01  3.50    Male     No   Sun  Dinner     3
4         23.68  3.31    Male     No   Sun  Dinner     2
5         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
240       29.03  5.92    Male     No   Sat  Dinner     3
241       27.18  2.00  Female    Yes   Sat  Dinner     2
242       22.67  2.00    Male    Yes   Sat  Dinner     2
243       17.82  1.75    Male     No   Sat  Dinner     2
244       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [245]:
type(tips)

pandas.core.frame.DataFrame

In [246]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [249]:
pd.cut(tip,5)

NameError: name 'tip' is not defined

In [243]:
pd.cut(tip,5).value_counts()

NameError: name 'tip' is not defined